@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800&family=Amiri:ital,wght@0,400;0,700;1,400&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Cairo', sans-serif;
  --font-serif: 'Amiri', serif;
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: #FAF8F5; /* Cream background */
  color: #333333; /* Dark grey text */
}

/* Custom Scrollbar for inner elements */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}

